In [58]:
import numpy as np 
import pandas as pd 
df = pd.read_json('data.json')
df

     numbers
0          1
1          6
2          8
3         12
4         18
..       ...
995       10
996       11
997       19
998       16
999       20

[1000 rows x 1 columns]

In [59]:
df.count()

numbers    1000
dtype: int64

In [60]:
df.ndim

2

In [61]:
df.nunique()

numbers    20
dtype: int64

In [62]:
df['numbers'].unique()

array([ 1,  6,  8, 12, 18,  7, 16,  9, 11, 13,  5,  2, 15, 17, 10,  3, 20,
       14, 19,  4], dtype=int64)

In [63]:
output = df.value_counts()

In [64]:
output

numbers
15         63
10         62
13         61
18         58
3          56
12         56
8          53
11         52
9          52
6          50
4          49
14         49
7          47
17         46
2          46
16         46
20         43
1          38
19         37
5          36
Name: count, dtype: int64

In [65]:
output.count()

20

In [67]:
import json
frequency_counts = df['numbers'].value_counts()
frequency_dict = frequency_counts.to_dict()
with open('frequency_counts.json', 'w') as json_file:
    json.dump(frequency_dict, json_file, indent=4)

In [68]:
frequency_list = frequency_counts.items()
sorted_frequency = sorted(frequency_list, key=lambda x: x[1], reverse=True)

In [69]:
if len(sorted_frequency) >= 3:
    third_highest_frequency = sorted_frequency[2]
    print("Third-highest frequency:", third_highest_frequency)
else:
    print("There are less than three unique values.")

Third-highest frequency: (13, 61)

In [35]:
import json
from collections import Counter
from typing import List, Tuple

def load_data(filename: str) -> List[int]:
    with open(filename, 'r') as file:
        data = json.load(file)
    return data

def calculate_frequency(numbers: List[int]) -> List[Tuple[int, int]]:
    counter = Counter(numbers)
    frequencies = counter.most_common()
    return frequencies

def get_third_highest_frequency(frequencies: List[Tuple[int, int]]) -> Tuple[int, int]:
    
    if len(frequencies) < 3:
        return None 
    return frequencies[2]


def save_output(data: dict, filename: str) -> None:
    with open(filename, 'w') as file:
        json.dump(data, file)

def main():
    numbers = load_data('data.json')
    frequencies = calculate_frequency(numbers)
    third_highest_freq = get_third_highest_frequency(frequencies)
    
    output = {
        "sorted_frequency_distribution": frequencies,
        "third_highest_frequency": third_highest_freq
    }
    
    save_output(output, 'output.json')
    
    print("Output saved to output.json")

if __name__ == "__main__":
    main()

Output saved to output.json

In [55]:
from collections import Counter

def find_third_highest_frequency(numbers):
    counter = Counter(numbers)
    frequencies = sorted(counter.values(), reverse=True)
    unique_frequencies = list(set(frequencies))
    
    if len(unique_frequencies) < 3:
        return None     
    return sorted(unique_frequencies)[-3]

data = [1, 6, 8, 12, 18, 7, 16, 9, 11, 9, 13, 18, 13, 8, 5, 2, 11, 13, 11, 11, 13, 15, 8, 2, 15, 12, 5, 12, 17, 7, 10, 17, 5, 15, 1, 6, 16, 7, 16, 3, 10, 13, 20, 7, 16, 9, 20, 10, 10, 20, 1, 8, 8, 2, 14, 14, 11, 8, 13, 18, 10, 3, 3, 12, 3, 16, 18, 17, 9, 14, 19, 15, 8, 12, 1, 2, 17, 14, 15, 13, 18, 16, 12, 15, 6, 10, 4, 1, 12, 15, 17, 8, 17, 7, 15, 3, 16, 8, 20, 11, 6, 15, 15, 13, 1, 11, 8, 11, 8, 13, 1, 4, 11, 10, 3, 2, 1, 4, 5, 12, 6, 15, 11, 19, 9, 1, 7, 16, 9, 16, 19, 12, 3, 7, 6, 18, 12, 7, 13, 10, 9, 16, 10, 17, 3, 11, 10, 2, 20, 6, 13, 19, 18, 5, 14, 11, 3, 16, 10, 18, 9, 18, 10, 3, 9, 13, 8, 10, 19, 8, 14, 15, 14, 17, 10, 10, 9, 18, 2, 20, 6, 13, 18, 6, 4, 19, 19, 7, 15, 15, 15, 2, 10, 17, 2, 12, 18, 17, 11, 11, 3, 7, 14, 15, 16, 8, 6, 3, 13, 7, 5, 14, 9, 4, 1, 4, 13, 6, 1, 6, 10, 8, 2, 15, 15, 6, 15, 12, 9, 9, 15, 18, 10, 17, 10, 18, 17, 1, 10, 19, 18, 20, 8, 12, 10, 5, 2, 17, 18, 19, 17, 20, 16, 7, 5, 15, 2, 4, 15, 2, 3, 8, 9, 9, 3, 12, 2, 13, 5, 3, 6, 8, 19, 18, 16, 1, 15, 18, 17, 1, 9, 19, 17, 15, 20, 12, 7, 13, 20, 3, 4, 1, 14, 14, 15, 18, 7, 11, 6, 4, 11, 9, 3, 10, 13, 12, 16, 8, 7, 11, 16, 17, 17, 6, 13, 10, 9, 15, 8, 16, 6, 20, 11, 20, 6, 5, 5, 6, 2, 6, 18, 4, 5, 6, 18, 5, 12, 17, 16, 8, 12, 19, 11, 5, 8, 18]
third_highest_frequency = find_third_highest_frequency(data)
print("Third highest frequency:", third_highest_frequency)

Third highest frequency: 22